<div class="container flex justify-center mt-3">
  <div class="w-9/12">
    <%= image_tag "top_image_3.png" %>
    <div class="flex w-full justify-center">
      <button class="btn btn-outline btn-primary btn-lg">Sign up</button>
      <div class="divider divider-horizontal">OR</div>
      <button class="btn btn-outline btn-primary btn-lg">Log in</button>
    </div>
  </div>
</div>

