<div class="flex w-full min-h-screen justify-center my-1.5">
  <div class="w-9/12">
    <%= image_tag "top_image_3.png" %>
    <div class="flex w-full justify-center">
      <button class="btn btn-outline btn-primary btn-lg">
        <%= link_to "新規登録", new_user_path %>
      </button>
      <div class="divider divider-horizontal">OR</div>
      <button class="btn btn-outline btn-primary btn-lg">
        <%= link_to "ログイン", login_path %>
      </button>
    </div>
  <div class="divider mt-10">使い方</div>
  <div class="flex flex-col w-full justify-center">
    <%= render 'shared/about' %>
  </div>
</div>

